.dropdown-menu {
	.dropdown.open > &,
	.overlay-content .open > & {
		display: block;
	}
}

.user-avatar-link {
	display: block;
	position: relative;

	.panel-notifications-count {
		align-items: center;
		border-radius: 999px; 
		display: flex;        
		height: 1.2rem;
		justify-content: center;
		min-width: 1.2rem;
		padding: 0 4px;
		position: absolute;
		right: calc(100% - 0.5rem);
		top: -0.4rem;

		&:focus {
			border-radius: 999px;
			outline: 2px solid; 
			outline-offset: 2px;
		}
	}

	.text-default {
		align-items: center;
		display: flex;

		.user-full-name {
			margin-left: 0.5rem;

			@include media-breakpoint-down(xs) {
				display: none;
			}
		}
	}
}

.user-personal-bar {
	.fieldset {
		position: relative;
	}

	.user-avatar-link .panel-notifications-count {
		right: calc(100% - 1rem);
		top: -0.6rem;
	}
}
